pkg/cli/baseline/testdata/** text eol=lf
contracts/testdata/baseline/** text eol=lf
pkg/config/globalconfiginventory/testdata/** text eol=lf
pkg/config/operatorconfig/testdata/** text eol=lf
pkg/config/systemconfig/testdata/** text eol=lf
