pymarkdownlnt==0.9.40
application-file-scanner==0.6.4
application-properties==0.9.3
columnar==1.4.1
py-walk==0.3.3
pyjson5==2.0.1
pyyaml==6.0.3
sly==0.5
tomli==2.4.1
toolz==1.1.0
typing-extensions==4.16.0
wcwidth==0.9.2
attrs==26.1.0
certifi==2026.7.22
charset-normalizer==3.5.2
check-jsonschema==0.37.0
click==8.5.0
idna==3.20
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
referencing==0.37.0
regress==2026.9.1
requests==2.34.2
rpds-py==2026.9.1
ruamel.yaml==0.19.1
urllib3==2.8.0
